<nav class="navTopFix">
  <div class="container">
    <div class="navInner w-100">
      <a [routerLink]="['/home']" class="logoBrand">
        <img src="../assets/images/logo_white.png" class="logo_img" alt="Premier Proteins Logo">
      </a>
      <div [hidden]="!mobHam" class="mob-center-header">
        <div>
          <button class="btn location-header-btn p-0 h2Color" type="button" id="dropdownMenuButton" data-target="#myModal"
          data-toggle="modal" aria-haspopup="true" aria-expanded="false">
          {{selectedCity}} <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="mt-1">
        <span class="search-header">
          <i class="fa fa-search" aria-hidden="true" data-target="#searchModal"
          data-toggle="modal"></i>
        </span>
        <span class="shoping-bag-header"><a [routerLink]="['/cart']"><i class="fa fa-shopping-bag fa-20" aria-hidden="true"></i>
          <div *ngIf='cartData.getProduct().length>0' class="shopping-bag-content"><span>{{cartData.getProduct().length}}</span></div></a></span></div>
        </div>
        <div class="navTab mb-1">
          <div class="hamburger" [hidden]="!mobHam" (click)="humClick()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div [ngClass]="{'navTabList visibility-none': mobNav!=true}" id="changeNav">
            <ul [hidden]="mobHam" class="top-menu float-right mb-0 mt-2 ">
              <li><span class="pr-2"><a [routerLink]="['/account']"><i class="fa fa-user-circle-o fa-20" aria-hidden="true"></i></a></span>Welcome, <span *ngIf='!loginService.isLogin'>Guest</span><span *ngIf='loginService.isLogin'>{{loginService.getUser().userName}}</span></li>
              <li class="pr-1">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <button class="btn location-btn p-0 h2Color" type="button" id="dropdownMenuButton" data-target="#myModal"
                data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                {{selectedCity}} <i class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
            </li>
            <li>
              <a *ngIf='!loginService.isLogin' [routerLink]="['/login']"><i class="fa fa-sign-in pr-1" aria-hidden="true"></i>Login</a>
              <a *ngIf='loginService.isLogin' (click)="logoutClick()" [routerLink]="['/home']"><i class="fa fa-sign-out pr-1" aria-hidden="true"></i>LogOut</a>
            </li>
            <li>
              <a [routerLink]="['/cart']"><i class="fa fa-shopping-bag fa-20" aria-hidden="true"></i>
                <div *ngIf='cartData.getProduct().length>0' class="shopping-bag-content"><span>{{cartData.getProduct().length}}</span></div></a>
              </li>
            </ul>
            <div class="sub-menu mt-2 w-100">
              <ul>
                <!-- <li><span *ngIf='!loginService.isLogin'>Guest</span><span *ngIf='loginService.isLogin'>{{loginService.getUser().userName}}</span></li> -->
                <li class="px-small-4" [routerLink]="['/home']" (click)="humClick()">
                  <a><i class="fa fa-home pr-1 fa-1x" aria-hidden="true"></i>Home</a>
                </li>
                <li [hidden]="!mobHam" class="px-small-4" [routerLink]="['/account']" (click)="humClick()">
                  <a><i class="fa fa-user-circle-o pr-1 fa-1x" aria-hidden="true"></i>My Account</a>
                </li>
                <li class="px-small-4" [routerLink]="['/home']" [queryParams]="{ category: 'sea_food' }" (click)="humClick()">
                  <a><!--<img src="../assets/images/fish.png" style="width: 40px;height: 40px;">-->Sea Foods</a>
                </li>
                <li class="px-small-4" [routerLink]="['/home']" [queryParams]="{ category: 'poultry' }" (click)="humClick()">
                  <a><!--<i class="fa fa-home pr-2 fa-2x" aria-hidden="true"></i>-->Poultry</a>
                </li>
                <li class="px-small-4" [routerLink]="['/home']" [queryParams]="{ category: 'mutton' }" (click)="humClick()">
                  <a><!--<i class="fa fa-home pr-2 fa-2x" aria-hidden="true"></i>-->Mutton</a>
                </li>
                <li [hidden]="!mobHam" class="px-small-4" [routerLink]="['/contact']" (click)="humClick()">
                  <a><!--<i class="fa fa-home pr-2 fa-2x" aria-hidden="true"></i>-->Contact</a>
                </li>
                <li [hidden]="!mobHam" class="px-small-4" [routerLink]="['/about']" (click)="humClick()">
                  <a><!--<i class="fa fa-home pr-2 fa-2x" aria-hidden="true"></i>-->About Us</a>
                </li>
                <li [hidden]="mobHam" class="py-small-3">
                  <div class="input-group d-flex offerSearch-wrapper">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control search-input w-100" id="offerSearch" placeholder="Search your content" data-target="#searchModal"
                    data-toggle="modal" aria-haspopup="true" readonly aria-expanded="false">
                  </div>
                </li>
                <li [hidden]="!mobHam" class="px-small-4" (click)="logoutClick()">
                  <a *ngIf='!loginService.isLogin'><i class="fa fa-sign-in pr-1" aria-hidden="true"></i>Login</a>
                  <a *ngIf='loginService.isLogin'><i class="fa fa-sign-out pr-1" aria-hidden="true"></i>LogOut</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- selct city Modal -->
  <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 m-0" role="document">
      <div class="modal-content location-wrapper py-4">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p class="font-header mb-1">Select a City</p>
          <p class="sub-header">To get awesome products near you</p>
          <div class="row justify-content-center mt-5">
            <div class="input-group col-md-7 col-sm-8 col-12">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-map-marker pr-2" aria-hidden="true"></i>
              </span>
              <input type="text" class="locationSearch" [(ngModel)]="selectedCity" (change)="changeLocationDropdown($event.target.value)" id="selectCity" placeholder="Enter your city name" list="location">
              <datalist class="location-list" id="location">
                <option value="Chennai">
                <option value="Bangalore">
              </datalist>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div class="col-12">
              <p class="h6"><b>Top Cities</b></p>
              <button type="button" class="btn btn-outline-secondary mt-4 short-location" data-dismiss="modal" (click)="changeLocation($event, 'Chennai')">Chennai</button>
              <button type="button" class="btn btn-outline-secondary mt-4 short-location" data-dismiss="modal" (click)="changeLocation($event, 'Bangalore')">Bangalore</button>
            </div>
          </div>
          <div class="text-center mt-5">
            <p class="sub-header">
              <img src="../assets/images/logo_white.png" style="width: 110px;height: 60px;" alt="Premier Proteins Logo">
              <span class="mx-3">|</span>Experience the world around you
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- search offer Modal -->
  <div class="modal fade bd-example-modal-lg" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 m-0" role="document">
      <div class="modal-content location-wrapper py-4">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="modal-body text-center">
          <i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Change Location :
          <button class="btn search-btn ml-1 p-0" type="button" id="dropdownMenuButton" data-target="#myModal" data-toggle="modal"
          data-dismiss="modal" aria-haspopup="true" aria-expanded="false">
          {{selectedCity}} <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <div class="row justify-content-center mt-5">
          <div class="input-group col-md-7 col-sm-8 col-12">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control offer-input locationSearch" id="locationSearch" placeholder="Search your content">
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-12">
            <p class="h6"><b>Recommended Search</b></p>
          </div>
        </div>
        <div class="text-center mt-5">
          <p class="sub-header">
            <img src="../assets/images/logo_white.png" style="width: 110px;height: 60px;" alt="Premier Proteins Logo">
            <span class="mx-3">|</span>Experience the world around you
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#" id="scroll" class="scroll-icon" style="display: none;">
  <span class="scroll-icon"></span>
</a>
