<footer>
  <div style="background-color: #2dbaaa;color:white">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text text-center text-md-left">
            <strong>Get connected with us on social networks!</strong>
          </h6>
        </div>
        <div class="col-12 col-md-7 text-center text-md-right">
          <a class="fb-ic ml-0">
            <i class="fa fa-facebook white-text mr-lg-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-lg-4"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
          </a>
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fa fa-instagram white-text mr-lg-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bgCol pb-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-sm-6 pl-xl-3">
          <p class="h5 mt-xl-3">Company</p>
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/home']">About Us</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Blog</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-sm-6 px-xl-3">
          <p class="h5 mt-xl-3">Help</p>
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/home']">Contact Us</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Sitemap</a>
            </li>
            <li>
              <a [routerLink]="['/home']">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-5 px-xl-3">
          <p class="h5 mt-xl-3 mr-xl-4">Download App</p>
          <span>
            <img src="/premier/assets/images/app-store.svg" class="banner mt-4" style="width:150px" alt="Iphone">
          </span>
          <span>
            <img src="/premier/assets/images/google-play-badges.svg" style="width:150px" class="banner ml-sm-5 mt-4" alt="Android">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRightBg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 py-3 mt-1 small grayCol">
          &#169; 2017 Premier Proteins. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
